<!doctype html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <title>TDoA Zone Controller</title>
    <link rel="stylesheet" href="{{ url_for('static_files', filename='css/theme.css') }}">
</head>
<body>
<header class="app-header">
    <div class="app-title">TDoA Zone Controller</div>
    <nav class="app-nav">
        <a href="/">Kezdőlap</a> |
        <a href="/map">Térkép</a> |
        <a href="/config">Konfiguráció</a> |
        <a href="/logout" style="float:right;">Kijelentkezés</a>
    </nav>

</header>
<main class="app-main">
    {% block content %}{% endblock %}
</main>
</body>
</html>
